$base-layout-left-width: 260px;
$base-layout-left-background: #001529;
$base-layout-top-height: 50px;
$base-layout-top-background: #b0e3bc;
$base-layout-main-background: whitesmoke;
$base-logo-height: 50px;
$base-logo-font-size: 20px;
