$base-layout-left-width: 260px;
$base-layout-left-width-min: 60px;
$base-layout-left-background: #001529;
$base-layout-nav-height: 50px;
$base-layout-nav-background: none;
$base-layout-main-background: whitesmoke;
$base-logo-height: 50px;
$base-logo-font-size: 20px;
